* {
	margin: 0;
	padding: 0;
	outline: 0; 
	text-decoration: inherit; 
}

header {
display: flex;
font-size: 25px;
align-items: center;
background: none;
justify-content: center;
width: 100%;
margin-bottom: -79px;
height: 79px;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav>a{
	margin: 25px;
}

.mainscreen {
	background-image: url(https://www.artmajeur.com/medias/hd/l/i/liudmila/artwork/11266706_4.jpg
		);
	height: 100vh;
	width: 100%;

}

.secondary {

}

main {

}

nav>.margin-left1 {
	text-decoration: overline;
}

header>img {
	height: 100%;
}

footer {
display: flex;
font-size: 25px;
align-items: center;
background: none;
justify-content: center;
width: 100%;
}

footer>div {
	margin: 25px;
}

